.header-flota {
  position: relative;
  text-align: center;
  color: white;
  padding: 6rem 0;
  background-image: url('../images/pexels-viajante-dibujero-2562840-4835536.jpg'); /* Fondo de imagen */
  background-position: center;
  background-size: cover; /* Asegura que la imagen cubra todo el header */
  background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.header-flota h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* Color blanco para el título */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Sombra suave para destacar el texto */
}

.header-flota p {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8); /* Gris claro con opacidad para el texto */
}

.header-flota .card-info {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Fondo oscuro semi-transparente para los cards */
  color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-flota .card-info:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Efecto de sombra más fuerte al pasar el mouse */
}

.header-flota .btn-custom {
  background-color: #38b2ac; /* Verde agua (color moderno y relajante) */
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-flota .btn-custom:hover {
  background-color: #2c7a7b; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de agrandar al pasar el mouse */
}

/* Para asegurarse de que el texto sea legible sobre la imagen de fondo */
.header-flota::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.4
  ); /* Sombra oscura que hace que el texto resalte sobre la imagen */
  z-index: 1;
}

.header-flota .container {
  position: relative;
  z-index: 2; /* Hace que el contenido se muestre por encima de la capa de fondo */
}

.transform-hover:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.shadow-xl {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.text-gradient {
  -webkit-background-clip: text;
  color: transparent;
}
.btn-primary {
  background: #ff7f00;
  border-color: #ff7f00;
}
.btn-primary:hover {
  background: #ffbb33;
  border-color: #ffbb33;
}
