.letter-spacing {
  letter-spacing: 2px;
}

.back {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  color: #000;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0)
    ),
    url('../images/busbanner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  margin-top: 60px;
}

.hero-content {
  margin-left: 150px;
  margin-top: 80px;
}

.hero-content h1 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.contenedorOfertasModernas {
  background: linear-gradient(135deg, #ffffff, #e2e3e4);
}

.card-modern {
  background: #4175fc;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: rgb(241, 238, 238);
}

.card-modern:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  background: #0443ff;
}

.icon-style {
  color: #ffc107;
  transition: color 0.3s ease;
}

.card-modern:hover .icon-style {
  color: #ffffff;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.card-modern h5 {
  font-family: 'Segoe UI', sans-serif;
}

.card-modern p {
  font-size: 0.9rem;
  color: #ccc;
}

section.py-5 {
  background-color: #f7f7f7;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  transition: padding 0.3s ease;
}

.card:hover .card-body {
  padding: 1.5rem;
}

.card-title {
  transition: color 0.3s ease;
}

.card:hover .card-title {
  color: #007bff;
}

.card i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.card:hover i {
  transform: scale(1.2);
  color: #007bff;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 968px) {
  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .carousel-caption h5 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.8rem;
  }

  .carousel-caption .btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    bottom: 0.5rem;
  }
}
